/.idea/.gitignore
/.idea/bobber.iml
/.idea/jsLinters/eslint.xml
/.idea/git_toolbox_prj.xml
/.idea/laravel-idea.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/app/vite.config.d.ts
/app/vite.config.js
/setup_bobber_release1.sh
/.idea/dataSources/1266c3f7-a7bc-46fb-8000-32c0920748a9.xml
/.idea/dataSources.local.xml
/.idea/dataSources/1266c3f7-a7bc-46fb-8000-32c0920748a9/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/1266c3f7-a7bc-46fb-8000-32c0920748a9/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/1266c3f7-a7bc-46fb-8000-32c0920748a9/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/1266c3f7-a7bc-46fb-8000-32c0920748a9/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/workspace.xml
